{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Welcome!</h1> 
    <p>Log in or register to make your first own booking calendar.</p>
    <h2>Participate</h2>
    <p>Were you invited to book a meeting with someone? Please enter calendar ID here:</p>
    <form method="post" action="/">
        <input type="text" name="calendar" placeholder="ID number" autofocus required>
        <input type="Submit" value="Go!">
    </form>
    <div class = "flash">
        {% for message in get_flashed_messages() %} <p>{{ message }}</p>{% endfor %} 
    </div>
{% endblock %}
